<!DOCTYPE HTML>
<html lang="{{lang}}">
	<head>
		<title>PokeMap - Pokémon Go Map</title>
		<meta name="description" content="New Pokémon Go map can show the exact location of every pokémon around you!">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-title" content="PokeMap">
		<meta name="mobile-web-app-capable" content="yes">

		<!-- Fav- & Apple-Touch-Icons -->
		<!-- Favicon -->
		<link rel="apple-touch-icon" sizes="57x57" href="static/appicons/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="static/appicons/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="static/appicons/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="static/appicons/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="static/appicons/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="static/appicons/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="static/appicons/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="static/appicons/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="static/appicons/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="static/appicons/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="static/appicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="static/appicons/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="static/appicons/favicon-16x16.png">
		<link rel="manifest" href="static/appicons/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="static/appicons/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" href="static/dist/css/app.min.css" />
		<script src="static/js/vendor/modernizr.custom.js"></script>
	</head>
	<body id="top">

	<div class="wrapper">
		<!-- Header -->
		<header id="header">
			<h1>
				<span>Pokémon Go Map</span>
				<a href="./"><img src="static/images/pokemap_logo.png"></a>
			</h1>
			<img src="static/images/loader.gif" id="loading-top">
			<a href="#nav" id="to-nav">Menu</a>
		</header>

		<!-- Nav -->
		<nav id="nav">
			<p>Filter through Pokémon, Gyms &amp; Pokéstops.</p>
			<div class="form-control">
				<label for="next-location">
					<h3>Change your location</h3>
					<input id="next-location" type="text" name="next-location" placeholder="Change your location" />
				</label>
			</div>
			<div class="form-control switch-container">
				<h3>Pokémon</h3>
				<div class="onoffswitch">
					<input id="pokemon-switch" type="checkbox" name="pokemon-switch" class="onoffswitch-checkbox" checked/>
					<label class="onoffswitch-label" for="pokemon-switch">
	        	<span class="switch-label" data-on="On" data-off="Off"></span>
	        	<span class="switch-handle"></span>
	        </label>
				</div>
			</div>
			<div class="form-control switch-container">
				<h3>Gyms</h3>
				<div class="onoffswitch">
					<input id="gyms-switch" type="checkbox" name="gyms-switch" class="onoffswitch-checkbox" checked/>
					<label class="onoffswitch-label" for="gyms-switch">
	        	<span class="switch-label" data-on="On" data-off="Off"></span>
	        	<span class="switch-handle"></span>
	        </label>
				</div>
			</div>
			<div class="form-control switch-container">
				<h3>Pokéstops</h3>
				<div class="onoffswitch">
					<input id="pokestops-switch" type="checkbox" name="pokestops-switch" class="onoffswitch-checkbox" checked/>
					<label class="onoffswitch-label" for="pokestops-switch">
						<span class="switch-label" data-on="On" data-off="Off"></span>
						<span class="switch-handle"></span>
					</label>
				</div>
			</div>
			<div class="form-control switch-container">
				<h3>Scanned Locations</h3>
				<div class="onoffswitch">
					<input id="scanned-switch" type="checkbox" name="scanned-switch" class="onoffswitch-checkbox"/>
					<label class="onoffswitch-label" for="scanned-switch">
						<span class="switch-label" data-on="On" data-off="Off"></span>
						<span class="switch-handle"></span>
					</label>
				</div>
			</div>
			<div class="form-control">
				<label for="exclude-pokemon">
					<h3>Hide common Pokémon</h3>
      		<select id="exclude-pokemon" multiple="multiple"></select>
    		</label>
			</div>
			<div class="form-control">
				<label for="notify-pokemon">
					<h3>Notify of Pokémon</h3>
					<select id="notify-pokemon" multiple="multiple"></select>
				</label>
			</div>
			<div class="form-control switch-container">
				<h3>Notify with sound</h3>
				<div class="onoffswitch">
					<input id="sound-switch" type="checkbox" name="sound-switch" class="onoffswitch-checkbox" checked/>
					<label class="onoffswitch-label" for="sound-switch">
						<span class="switch-label" data-on="On" data-off="Off"></span>
						<span class="switch-handle"></span>
					</label>
				</div>
			</div>
			<div class="form-control">
				<label for="notify-pokemon">
					<h3>Follow me!</h3>
					<a href="https://twitter.com/luisintosh" class="twitter-follow-button" data-show-count="false">Follow @luisintosh</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				</label>
			</div>
			<div class="form-control">
				<label for="notify-pokemon">
					<h3>Info PokeMap</h3>
					<small>
						<p>
							A large portion of the enjoyment of Pokémon Go is finding new creatures. Be that as it may, a bug has made that truly troublesome in the course of recent days, with the diversion's Nearby component apparently separating. Luckily, we think of an answer one that some may call bamboozling, additionally makes discovering pokémon madly simple: it's a Google Map that shows the area of each pokémon around you!
						</p> 
						<p>
							The project emerged from a subreddit committed to engineers playing with Pokémon Go. In there, somebody made sense of how to haul crude information out of the amusement, including the areas of rec centers, the things at individual pokéstops, and where pokémon are showing up.
						</p>
					</small>
				</label>
			</div>
			<!-- <button id="trigger-overlay">Test overlay</button> -->
		</nav>

		<div id="map"></div>

		<div class="footer-container">
			<img src="static/images/pokeball.png" id="pokegps" class="current-location">
			<div id="hihi" style="display:none"></div>
		</div>
	</div>

	<!-- Scripts -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/skel/3.0.1/skel.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

	<script type="text/javascript" src="static/dist/js/app.min.js"></script>
	<script type="text/javascript" src="static/js/vendor/classie.js"></script>
	<!-- <script type="text/javascript" src="static/js/vendor/svg-overlay.js"></script> -->

	<script type="text/javascript">
		var center_lat = {{lat}};
		var center_lng = {{lng}};
	</script>


	<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ gmaps_key }}&callback=initMap&libraries=places"></script>
	<script type="text/javascript" src="static/map.js"></script>
	</body>
</html>
